<div class="bg-gray-800">
  <nav class="flex text-gray-800 bg-white font-bold px-12 py-2 uppercase text-4xl w-full shadow-3xl">
    <ul>
      <li>logo</li>
    </ul>
  </nav>
  <nav class="h-screen flex bg-gray-200 shadow-2xl">
    <aside class="flex flex-col items-left bg-gray-800 shadow h-full font-bold text-white capitalize text-2xl">
      <ul class="mx-8 my-4">
        <li>home</li>
      </ul>
      <ul class="mx-8 my-4">
        <li>subjects</li>
      </ul>
      <ul class="mx-8 my-4">
        <li>teachers</li>
      </ul>
      <ul class="mx-8 my-4">
        <li>help</li>
      </ul>
      <ul class="mx-8 my-4 flex-grow">
        <li>my account</li>
      </ul>
      <ul class="mx-8 my-4">
        <li>signout</li>
      </ul>
    </aside>
  </nav>
</div>